#text-window span.block {
  display: block;
  width: 240px;
  height: 64px;
  background: url('block.png');
  background-repeat: no-repeat;
  line-height: 1;
  margin-bottom: 5px;
}

#text-window span.block span.letters {
  position: relative;
  top: 8px;
  left: 64px;
}

#text-window span.block span.letter {
  display: inline-block;
  width: 8px;
  height: 16px;
  background: url('font.png');
  background-position: 0 0;
}

#text-window span.block span.letters span.letter.space{ width: 5px; background-position: 0 0; }
#text-window span.block span.letters span.letter.n0{ width: 8px; background-position: -8px 0; }
#text-window span.block span.letters span.letter.n1{ width: 6px; background-position: -16px 0; }
#text-window span.block span.letters span.letter.n2{ width: 8px; background-position: -24px 0; }
#text-window span.block span.letters span.letter.n3{ width: 8px; background-position: -32px 0; }
#text-window span.block span.letters span.letter.n4{ width: 8px; background-position: -40px 0; }
#text-window span.block span.letters span.letter.n5{ width: 8px; background-position: -48px 0; }
#text-window span.block span.letters span.letter.n6{ width: 8px; background-position: -56px 0; }
#text-window span.block span.letters span.letter.n7{ width: 8px; background-position: -64px 0; }
#text-window span.block span.letters span.letter.n8{ width: 8px; background-position: -72px 0; }
#text-window span.block span.letters span.letter.n9{ width: 8px; background-position: -80px 0; }
#text-window span.block span.letters span.letter.A{ width: 8px; background-position: -88px 0; }
#text-window span.block span.letters span.letter.B{ width: 8px; background-position: -96px 0; }
#text-window span.block span.letters span.letter.C{ width: 8px; background-position: -104px 0; }
#text-window span.block span.letters span.letter.D{ width: 8px; background-position: -112px 0; }
#text-window span.block span.letters span.letter.E{ width: 8px; background-position: -120px 0; }

#text-window span.block span.letters span.letter.F{ width: 8px; background-position: 0 -16px; }
#text-window span.block span.letters span.letter.G{ width: 8px; background-position: -8px -16px; }
#text-window span.block span.letters span.letter.H{ width: 8px; background-position: -16px -16px; }
#text-window span.block span.letters span.letter.I{ width: 4px; background-position: -24px -16px; }
#text-window span.block span.letters span.letter.J{ width: 8px; background-position: -32px -16px; }
#text-window span.block span.letters span.letter.K{ width: 8px; background-position: -40px -16px; }
#text-window span.block span.letters span.letter.L{ width: 8px; background-position: -48px -16px; }
#text-window span.block span.letters span.letter.M{ width: 8px; background-position: -56px -16px; }
#text-window span.block span.letters span.letter.N{ width: 8px; background-position: -64px -16px; }
#text-window span.block span.letters span.letter.O{ width: 8px; background-position: -72px -16px; }
#text-window span.block span.letters span.letter.P{ width: 8px; background-position: -80px -16px; }
#text-window span.block span.letters span.letter.Q{ width: 8px; background-position: -88px -16px; }
#text-window span.block span.letters span.letter.R{ width: 8px; background-position: -96px -16px; }
#text-window span.block span.letters span.letter.S{ width: 8px; background-position: -104px -16px; }
#text-window span.block span.letters span.letter.T{ width: 8px; background-position: -112px -16px; }
#text-window span.block span.letters span.letter.U{ width: 8px; background-position: -120px -16px; }

#text-window span.block span.letters span.letter.V{ width: 8px; background-position: 0 -32px; }
#text-window span.block span.letters span.letter.W{ width: 8px; background-position: -8px -32px; }
#text-window span.block span.letters span.letter.X{ width: 8px; background-position: -16px -32px; }
#text-window span.block span.letters span.letter.Y{ width: 8px; background-position: -24px -32px; }
#text-window span.block span.letters span.letter.Z{ width: 8px; background-position: -32px -32px; }
#text-window span.block span.letters span.letter.a{ width: 8px; background-position: -40px -32px; }
#text-window span.block span.letters span.letter.b{ width: 7px; background-position: -48px -32px; }
#text-window span.block span.letters span.letter.c{ width: 7px; background-position: -56px -32px; }
#text-window span.block span.letters span.letter.d{ width: 7px; background-position: -64px -32px; }
#text-window span.block span.letters span.letter.e{ width: 8px; background-position: -72px -32px; }
#text-window span.block span.letters span.letter.f{ width: 6px; background-position: -80px -32px; }
#text-window span.block span.letters span.letter.g{ width: 7px; background-position: -88px -32px; }
#text-window span.block span.letters span.letter.h{ width: 7px; background-position: -96px -32px; }
#text-window span.block span.letters span.letter.i{ width: 2px; background-position: -104px -32px; }
#text-window span.block span.letters span.letter.j{ width: 5px; background-position: -112px -32px; }
#text-window span.block span.letters span.letter.k{ width: 7px; background-position: -120px -32px; }

#text-window span.block span.letters span.letter.l{ width: 2px; background-position: 0 -48px; }
#text-window span.block span.letters span.letter.m{ width: 8px; background-position: -8px -48px; }
#text-window span.block span.letters span.letter.n{ width: 7px; background-position: -16px -48px; }
#text-window span.block span.letters span.letter.o{ width: 7px; background-position: -24px -48px; }
#text-window span.block span.letters span.letter.p{ width: 7px; background-position: -32px -48px; }
#text-window span.block span.letters span.letter.q{ width: 7px; background-position: -40px -48px; }
#text-window span.block span.letters span.letter.r{ width: 6px; background-position: -48px -48px; }
#text-window span.block span.letters span.letter.s{ width: 7px; background-position: -56px -48px; }
#text-window span.block span.letters span.letter.t{ width: 6px; background-position: -64px -48px; }
#text-window span.block span.letters span.letter.u{ width: 7px; background-position: -72px -48px; }
#text-window span.block span.letters span.letter.v{ width: 8px; background-position: -80px -48px; }
#text-window span.block span.letters span.letter.w{ width: 8px; background-position: -88px -48px; }
#text-window span.block span.letters span.letter.x{ width: 8px; background-position: -96px -48px; }
#text-window span.block span.letters span.letter.y{ width: 8px; background-position: -104px -48px; }
#text-window span.block span.letters span.letter.z{ width: 8px; background-position: -112px -48px; }
#text-window span.block span.letters span.letter.minus{ width: 6px; background-position: -120px -48px; }

#text-window span.block span.letters span.letter.cross{ width: 8px; background-position: 0 -64px; }
#text-window span.block span.letters span.letter.equal{ width: 6px; background-position: -8px -64px; }
#text-window span.block span.letters span.letter.colon{ width: 3px; background-position: -16px -64px; }
#text-window span.block span.letters span.letter.plus{ width: 6px; background-position: -24px -64px; }
#text-window span.block span.letters span.letter.divide{ width: 8px; background-position: -32px -64px; }
#text-window span.block span.letters span.letter.multiply{ width: 8px; background-position: -40px -64px; }
#text-window span.block span.letters span.letter.asterisk{ width: 8px; background-position: -48px -64px; }
#text-window span.block span.letters span.letter.exclamation{ width: 2px; background-position: -56px -64px; }
#text-window span.block span.letters span.letter.interrogation{ width: 8px; background-position: -64px -64px; }
#text-window span.block span.letters span.letter.percent{ width: 8px; background-position: -72px -64px; }
#text-window span.block span.letters span.letter.ampersand{ width: 8px; background-position: -80px -64px; }
#text-window span.block span.letters span.letter.comma{ width: 3px; background-position: -88px -64px; }
#text-window span.block span.letters span.letter.reticences{ width: 6px; background-position: -96px -64px; }
#text-window span.block span.letters span.letter.dot{ width: 3px; background-position: -104px -64px; }
#text-window span.block span.letters span.letter.middot{ width: 3px; background-position: -112px -64px; }
#text-window span.block span.letters span.letter.semicolon{ width: 3px; background-position: -120px -64px; }

#text-window span.block span.letters span.letter.quotes{ width: 3px; background-position: 0 -80px; }
#text-window span.block span.letters span.letter.double-quotes{ width: 4px; background-position: -8px -80px; }
#text-window span.block span.letters span.letter.tilde{ width: 8px; background-position: -16px -80px; }
#text-window span.block span.letters span.letter.slash{ width: 8px; background-position: -24px -80px; }
#text-window span.block span.letters span.letter.open-parenthesis{ width: 4px; background-position: -32px -80px; }
#text-window span.block span.letters span.letter.close-parenthesis{ width: 4px; background-position: -40px -80px; }
#text-window span.block span.letters span.letter.top-left-corner{ width: 5px; background-position: -48px -80px; }
#text-window span.block span.letters span.letter.bottom-right-corner{ width: 5px; background-position: -56px -80px; }
#text-window span.block span.letters span.letter.v2{ width: 7px; background-position: -64px -80px; }
#text-window span.block span.letters span.letter.v3{ width: 7px; background-position: -72px -80px; }
#text-window span.block span.letters span.letter.v4{ width: 7px; background-position: -80px -80px; }
#text-window span.block span.letters span.letter.v5{ width: 7px; background-position: -88px -80px; }
#text-window span.block span.letters span.letter.at-sign{ width: 8px; background-position: -96px -80px; }
#text-window span.block span.letters span.letter.heart{ width: 8px; background-position: -104px -80px; }
#text-window span.block span.letters span.letter.musical-note{ width: 8px; background-position: -112px -80px; }
#text-window span.block span.letters span.letter.mb{ width: 7px; background-position: -120px -80px; }

#text-window span.block span.letters span.letter.black-cursor{ width: 7px; background-position: 0 -96px; }
#text-window span.block span.letters span.letter.underscore-cursor{ width: 7px; background-position: -8px -96px; }
#text-window span.block span.letters span.letter.circle-start{ width: 6px; background-position: -16px -96px; }
#text-window span.block span.letters span.letter.circle-end{ width: 5px; background-position: -24px -96px; }
#text-window span.block span.letters span.letter.cross-start{ width: 5px; background-position: -32px -96px; }
#text-window span.block span.letters span.letter.end-start{ width: 4px; background-position: -48px -96px; }
#text-window span.block span.letters span.letter.open-square-brackets{ width: 5px; background-position: -48px -96px; }
#text-window span.block span.letters span.letter.close-square-brackets{ width: 5px; background-position: -56px -96px; }
#text-window span.block span.letters span.letter.n-greek{ width: 8px; background-position: -64px -96px; }
#text-window span.block span.letters span.letter.a-greek{ width: 8px; background-position: -72px -96px; }
#text-window span.block span.letters span.letter.u-greek{ width: 8px; background-position: -80px -96px; }
#text-window span.block span.letters span.letter.sigma{ width: 8px; background-position: -99px -96px; }
#text-window span.block span.letters span.letter.omega{ width: 8px; background-position: -96px -96px; }
#text-window span.block span.letters span.letter.alpha{ width: 8px; background-position: -104px -96px; }
#text-window span.block span.letters span.letter.beta{ width: 8px; background-position: -112px -96px; }
#text-window span.block span.letters span.letter.hashtag{ width: 8px; background-position: -120px -96px; }

#text-window span.block span.letters span.letter.A-grave{ width: 8px; background-position: 0 -112px; }
#text-window span.block span.letters span.letter.A-acute{ width: 8px; background-position: -8px -112px; }
#text-window span.block span.letters span.letter.A-tilde{ width: 8px; background-position: -16px -112px; }
#text-window span.block span.letters span.letter.A-circumflex{ width: 8px; background-position: -24px -112px; }
#text-window span.block span.letters span.letter.C-cedilla{ width: 8px; background-position: -32px -112px; }
#text-window span.block span.letters span.letter.E-acute{ width: 8px; background-position: -40px -112px; }
#text-window span.block span.letters span.letter.E-circumflex{ width: 8px; background-position: -48px -112px; }
#text-window span.block span.letters span.letter.I-acute{ width: 4px; background-position: -56px -112px; }
#text-window span.block span.letters span.letter.O-grave{ width: 8px; background-position: -64px -112px; }
#text-window span.block span.letters span.letter.O-acute{ width: 8px; background-position: -72px -112px; }
#text-window span.block span.letters span.letter.O-tilde{ width: 8px; background-position: -80px -112px; }
#text-window span.block span.letters span.letter.O-circumflex{ width: 8px; background-position: -88px -112px; }
#text-window span.block span.letters span.letter.O-diaeresis{ width: 8px; background-position: -96px -112px; }
#text-window span.block span.letters span.letter.U-acute{ width: 8px; background-position: -104px -112px; }
#text-window span.block span.letters span.letter.U-diaeresis{ width: 8px; background-position: -112px -112px; }
#text-window span.block span.letters span.letter.greater-than{ width: 6px; background-position: -120px -112px; }

#text-window span.block span.letters span.letter.a-grave{ width: 8px; background-position: 0 -128px; }
#text-window span.block span.letters span.letter.a-acute{ width: 8px; background-position: -8px -128px; }
#text-window span.block span.letters span.letter.a-tilde{ width: 8px; background-position: -16px -128px; }
#text-window span.block span.letters span.letter.a-circumflex{ width: 8px; background-position: -24px -128px; }
#text-window span.block span.letters span.letter.c-cedilla{ width: 7px; background-position: -32px -128px; }
#text-window span.block span.letters span.letter.e-acute{ width: 8px; background-position: -40px -128px; }
#text-window span.block span.letters span.letter.e-circumflex{ width: 8px; background-position: -48px -128px; }
#text-window span.block span.letters span.letter.i-acute{ width: 2px; background-position: -56px -128px; }
#text-window span.block span.letters span.letter.o-grave{ width: 7px; background-position: -64px -128px; }
#text-window span.block span.letters span.letter.o-acute{ width: 7px; background-position: -72px -128px; }
#text-window span.block span.letters span.letter.o-tilde{ width: 7px; background-position: -80px -128px; }
#text-window span.block span.letters span.letter.o-circumflex{ width: 7px; background-position: -88px -128px; }
#text-window span.block span.letters span.letter.o-diaeresis{ width: 7px; background-position: -96px -128px; }
#text-window span.block span.letters span.letter.u-acute{ width: 7px; background-position: -104px -128px; }
#text-window span.block span.letters span.letter.u-diaeresis{ width: 7px; background-position: -112px -128px; }
#text-window span.block span.letters span.letter.less-than{ width: 6px; background-position: -120px -128px; }

#text-window span.block span.letters span.letter.unknown{
  width: 8px !important;
  background-position: 0 0 !important;
  margin-right: 1px;
  position: relative;
}
#text-window span.block span.letters span.letter.unknown:after {
  background: darkseagreen;
  color: black;
  content: 'X';
  position: absolute;
  top: 1px;
  left: 0;
  border: 1px solid black;
  font-size: 10px;
}