.preview-config-form {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-bottom: 10px;

  label {
    display: block;
  }
  select {
    background-color: var(--vscode-settings-dropdownBackground);
    color: var(--vscode-settings-dropdownForeground);
    border-color: var(--vscode-settings-dropdownBorder);
  }
}

#text-window {
  transform-origin: top left;
  image-rendering: pixelated;

  &[data-zoom="2x"] {
    transform: scale(2);
  }
  &[data-zoom="3x"] {
    transform: scale(3);
  }
}