#text-window[data-preview-type="mmbn4_dialogues_vwf_ptbr"] {
  width: 240px;

  span.block {
    display: block;
    width: 240px;
    height: 59px;
    background: url('dialogues.png');
    background-repeat: no-repeat;
    line-height: 1;
    margin-bottom: 5px;

    span.letters {
      position: relative;
      top: 14px;
      left: 64px;
      
      span.letter {
        display: inline-block;
        width: 8px;
        height: 12px;
        background: url('dialogues_font_vwf_ptbr.png');
        background-position: 0 0;

        &.space{ width: 5px; background-position: 0 0; }
        &.n0{ width: 8px; background-position: -8px 0; }
        &.n1{ width: 6px; background-position: -16px 0; }
        &.n2{ width: 8px; background-position: -24px 0; }
        &.n3{ width: 8px; background-position: -32px 0; }
        &.n4{ width: 8px; background-position: -40px 0; }
        &.n5{ width: 8px; background-position: -48px 0; }
        &.n6{ width: 8px; background-position: -56px 0; }
        &.n7{ width: 8px; background-position: -64px 0; }
        &.n8{ width: 8px; background-position: -72px 0; }
        &.n9{ width: 8px; background-position: -80px 0; }
        &.A{ width: 8px; background-position: -88px 0; }
        &.B{ width: 8px; background-position: -96px 0; }
        &.C{ width: 8px; background-position: -104px 0; }
        &.D{ width: 8px; background-position: -112px 0; }
        &.E{ width: 8px; background-position: -120px 0; }

        &.F{ width: 8px; background-position: 0 -12px; }
        &.G{ width: 8px; background-position: -8px -12px; }
        &.H{ width: 8px; background-position: -16px -12px; }
        &.I{ width: 4px; background-position: -24px -12px; }
        &.J{ width: 8px; background-position: -32px -12px; }
        &.K{ width: 7px; background-position: -40px -12px; }
        &.L{ width: 8px; background-position: -48px -12px; }
        &.M{ width: 8px; background-position: -56px -12px; }
        &.N{ width: 8px; background-position: -64px -12px; }
        &.O{ width: 8px; background-position: -72px -12px; }
        &.P{ width: 8px; background-position: -80px -12px; }
        &.Q{ width: 8px; background-position: -88px -12px; }
        &.R{ width: 8px; background-position: -96px -12px; }
        &.S{ width: 8px; background-position: -104px -12px; }
        &.T{ width: 8px; background-position: -112px -12px; }
        &.U{ width: 8px; background-position: -120px -12px; }

        &.V{ width: 8px; background-position: 0 -24px; }
        &.W{ width: 8px; background-position: -8px -24px; }
        &.X{ width: 8px; background-position: -16px -24px; }
        &.Y{ width: 8px; background-position: -24px -24px; }
        &.Z{ width: 8px; background-position: -32px -24px; }
        &.asterisk{ width: 8px; background-position: -40px -24px; }
        &.a{ width: 8px; background-position: -48px -24px; }
        &.b{ width: 7px; background-position: -56px -24px; }
        &.c{ width: 7px; background-position: -64px -24px; }
        &.d{ width: 7px; background-position: -72px -24px; }
        &.e{ width: 8px; background-position: -80px -24px; }
        &.f{ width: 6px; background-position: -88px -24px; }
        &.g{ width: 7px; background-position: -96px -24px; }
        &.h{ width: 7px; background-position: -104px -24px; }
        &.i{ width: 2px; background-position: -112px -24px; }
        &.j{ width: 5px; background-position: -120px -24px; }

        &.k{ width: 7px; background-position: 0 -36px; }
        &.l{ width: 2px; background-position: -8px -36px; }
        &.m{ width: 8px; background-position: -16px -36px; }
        &.n{ width: 7px; background-position: -24px -36px; }
        &.o{ width: 7px; background-position: -32px -36px; }
        &.p{ width: 7px; background-position: -40px -36px; }
        &.q{ width: 7px; background-position: -48px -36px; }
        &.r{ width: 7px; background-position: -56px -36px; }
        &.s{ width: 7px; background-position: -64px -36px; }
        &.t{ width: 7px; background-position: -72px -36px; }
        &.u{ width: 7px; background-position: -80px -36px; }
        &.v{ width: 8px; background-position: -88px -36px; }
        &.w{ width: 8px; background-position: -96px -36px; }
        &.x{ width: 8px; background-position: -104px -36px; }
        &.y{ width: 8px; background-position: -112px -36px; }
        &.z{ width: 8px; background-position: -120px -36px; }

        &.dash{ width: 6px; background-position: 0 -48px; }
        &.cross1{ width: 8px; background-position: -8px -48px; }
        &.equal{ width: 6px; background-position: -16px -48px; }
        &.colon{ width: 3px; background-position: -24px -48px; }
        &.percent{ width: 8px; background-position: -32px -48px; }
        &.interrogation{ width: 8px; background-position: -40px -48px; }
        &.plus{ width: 6px; background-position: -48px -48px; }
        &.divide{ width: 8px; background-position: -56px -48px; }
        &.multiply{ width: 8px; background-position: -64px -48px; }
        &.minus{ width: 6px; background-position: -72px -48px; }
        &.exclamation{ width: 2px; background-position: -80px -48px; }
        &.ampersand{ width: 8px; background-position: -88px -48px; }
        &.comma{ width: 3px; background-position: -96px -48px; }
        &.japanese-dot{ width: 4px; background-position: -104px -48px; }
        &.dot{ width: 3px; background-position: -112px -48px; }
        &.middot{ width: 3px; background-position: -120px -48px; }

        &.semicolon{ width: 3px; background-position: 0 -60px; }
        &.quotes{ width: 3px; background-position: -8px -60px; }
        &.double-quotes{ width: 5px; background-position: -16px -60px; }
        &.tilde{ width: 8px; background-position: -24px -60px; }
        &.slash{ width: 8px; background-position: -32px -60px; }
        &.open-parenthesis{ width: 4px; background-position: -40px -60px; }
        &.close-parenthesis{ width: 4px; background-position: -48px -60px; }
        &.open-quote{ width: 5px; background-position: -56px -60px; }
        &.close-quote{ width: 5px; background-position: -64px -60px; }
        &.alpha{ width: 8px; background-position: -72px -60px; }
        &.beta{ width: 8px; background-position: -80px -60px; }
        &.omega{ width: 8px; background-position: -88px -60px; }
        &.v5{ width: 8px; background-position: -96px -60px; }
        &.underscore{ width: 8px; background-position: -104px -60px; }
        &.mb{ width: 8px; background-position: -112px -60px; }
        &.zeta{ width: 8px; background-position: -120px -60px; }

        &.square{ width: 8px; background-position: 0 -72px; }
        &.circle{ width: 8px; background-position: -8px -72px; }
        &.cross2{ width: 8px; background-position: -16px -72px; }
        &.cursor{ width: 7px; background-position: -24px -72px; }
        &.mid-reticences{ width: 8px; background-position: -32px -72px; }
        &.reticences{ width: 8px; background-position: -40px -72px; }
        &.cerquilha{ width: 8px; background-position: -48px -72px; }
        &.open-square-brackets{ width: 5px; background-position: -56px -72px; }
        &.close-square-brackets{ width: 5px; background-position: -64px -72px; }
        &.less-than{ width: 6px; background-position: -72px -72px; }
        &.greater-than{ width: 6px; background-position: -80px -72px; }
        &.star{ width: 8px; background-position: -88px -72px; }
        &.hearts{ width: 8px; background-position: -96px -72px; }
        &.diamonds{ width: 8px; background-position: -104px -72px; }
        &.clubs{ width: 8px; background-position: -112px -72px; }
        &.spades{ width: 8px; background-position: -120px -72px; }

        &.A-grave{ width: 8px; background-position: 0 -96px; }
        &.A-acute{ width: 8px; background-position: -8px -96px; }
        &.A-tilde{ width: 8px; background-position: -16px -96px; }
        &.A-circumflex{ width: 8px; background-position: -24px -96px; }
        &.C-cedilla{ width: 8px; background-position: -32px -96px; }
        &.E-acute{ width: 8px; background-position: -40px -96px; }
        &.E-circumflex{ width: 8px; background-position: -48px -96px; }
        &.I-acute{ width: 4px; background-position: -56px -96px; }
        &.O-grave{ width: 8px; background-position: -64px -96px; }
        &.O-acute{ width: 8px; background-position: -72px -96px; }
        &.O-tilde{ width: 8px; background-position: -80px -96px; }
        &.O-circumflex{ width: 8px; background-position: -88px -96px; }
        &.O-diaeresis{ width: 8px; background-position: -96px -96px; }
        &.U-acute{ width: 8px; background-position: -104px -96px; }
        &.U-diaeresis{ width: 8px; background-position: -112px -96px; }
        &.o-ordinal{ width: 5px; background-position: -120px -96px; }

        &.a-grave{ width: 8px; background-position: 0 -108px; }
        &.a-acute{ width: 8px; background-position: -8px -108px; }
        &.a-tilde{ width: 8px; background-position: -16px -108px; }
        &.a-circumflex{ width: 8px; background-position: -24px -108px; }
        &.c-cedilla{ width: 7px; background-position: -32px -108px; }
        &.e-acute{ width: 8px; background-position: -40px -108px; }
        &.e-circumflex{ width: 8px; background-position: -48px -108px; }
        &.i-acute{ width: 3px; background-position: -56px -108px; }
        &.o-grave{ width: 7px; background-position: -64px -108px; }
        &.o-acute{ width: 7px; background-position: -72px -108px; }
        &.o-tilde{ width: 7px; background-position: -80px -108px; }
        &.o-circumflex{ width: 7px; background-position: -88px -108px; }
        &.o-diaeresis{ width: 7px; background-position: -96px -108px; }
        &.u-acute{ width: 7px; background-position: -104px -108px; }
        &.u-diaeresis{ width: 7px; background-position: -112px -108px; }
        &.a-ordinal{ width: 5px; background-position: -120px -108px; }

        &.unknown{
          background-position: 0 0 !important;
          margin-right: 1px;
          position: relative;

          &:after {
            background: darkseagreen;
            color: black;
            content: 'X';
            position: absolute;
            top: 1px;
            left: 0;
            border: 1px solid black;
            font-size: 10px;
          }
        }
      }
    }
  } 
}